{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

   <body class="text-center d-flex align-items-center justify-content-center">
   
  <div class="card p-5"> 
        <form class="form-signin">
        <img class="mb-5" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
        <h1 class="h3 mb-4 font-weight-normal">CONNECTER-VOUS</h1>
        <label for="inputEmail" class="sr-only">Nom d'utilisateur</label>
        <input type="text" id="inputEmail" class="form-control mb-3" placeholder="Nom d'utilisateur" required autofocus>
        <label for="inputPassword" class="sr-only">Mot de passe</label>
        <input type="password" id="inputPassword" class="form-control mb-2" placeholder="Mot de passe" required>
        <div class="checkbox mb-3">
        </div>
        <button class="btn btn-lg btn-primary btn-block mt-3" type="submit" onclick="window.location.href='/';">Se connecter</button>
        </form>
  </div>

  </body>
{% endblock %}
