{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}


    <h2>hello </h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt, voluptatum.</p>
    <p>Aliquam commodi cum fugit, nesciunt sint totam veniam voluptatum. Cupiditate.</p>
    <p>Aspernatur error eum id neque tempore vel veniam, vitae
        voluptates!</p>

{% endblock %}
