{{ form_start(form, {'attr': {'class': ''}}) }}
    {{ form_widget(form, {'attr': {'class': ''}}) }}
    <button class="btn btn-success mt-2">{{ button_label|default('Sauvegarder') }}</button>
{{ form_end(form) }}
