{% extends 'base.html.twig' %}

{% block title %}New TransactionIteme{% endblock %}

{% block body %}
    <h1>Create new TransactionIteme</h1>

    {{ include('transaction_iteme/_form.html.twig') }}

    <a href="{{ path('app_transaction_iteme_index') }}">back to list</a>
{% endblock %}
