body {
    background-color: rgb(243, 243, 243);
    height: 100vh;
}

.btn-small {
    width:105px;
}

.img-logo {
    width: 130px;
    height: 165px;
    object-fit: cover;
}

.height-10 {
    height: 10vh;
    min-height: 2vh;
}

.img-box > img {
    height: 120px;
    width: 150px;
    object-fit: contain;  
}

.img-box-l > img {
    height: 220px;
    width: 250px;
    object-fit: contain;  
}

.height-100 {
    height: 100vh;  
}

.width-40 {
    width: 40vw;
}

.width-80 {
    width: 80vw;
}

.width-100 {
    width: 100vw;
}

.border {
    border: solid black ;
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 3px solid green; */
}

.card-btm {
    border-radius: 0!important;
    --bs-card-border-radius:0px!important;
}

.img-products { 
    height: 20vh;
    min-height: 150px;
}

.img-burger {
    background-color: transparent;
}

/* ----------------- LABEL FORM PRODUIT  -----------------*/
#products > div{
    display: flex;
    flex-direction: column;
}

label[for="products_name"] {
    font-size: 0;
}
label[for="products_name"]:before {
    content: "Nom du produit";
    font-size: 16px;
}

label[for="products_price"] {
    font-size: 0;
}
label[for="products_price"]:before {
    content: "Prix";
    font-size: 16px;
}

label[for="products_stock_quantity"] {
    font-size: 0;
}
label[for="products_stock_quantity"]:before {
    content: "Quantité en stock";
    font-size: 16px;
}

label[for="products_transactionItemes"] {
    font-size: 0;
}
label[for="products_transactionItemes"]:before {
    content: "Objet de la transaction";
    font-size: 16px;
}

/*  ----------------- LABEL FORM CATEGORIES  -----------------*/ 
#categories > div{
    display: flex;
    flex-direction: column;
}

label[for="categories_name"] {
    font-size: 0;
}
label[for="categories_name"]:before {
    content: "Nom de la catégorie";
    font-size: 16px;
}

label[for="categories_products"] {
    font-size: 0;
}
label[for="categories_products"]:before {
    content: "Produits";
    font-size: 16px;
}

/*  ----------------- LABEL FORM CUSTOMERS  -----------------*/ 
#customers > div{
    display: flex;
    flex-direction: column;
}

label[for="customers_name"] {
    font-size: 0;
}
label[for="customers_name"]:before {
    content: "Nom du client";
    font-size: 16px;
}

label[for="customers_email"] {
    font-size: 0;
}
label[for="customers_email"]:before {
    content: "Email";
    font-size: 16px;
}

label[for="customers_phone"] {
    font-size: 0;
}
label[for="customers_phone"]:before {
    content: "Téléphone";
    font-size: 16px;
}

label[for="customers_address"] {
    font-size: 0;
}
label[for="customers_address"]:before {
    content: "Adresse";
    font-size: 16px;
}

/*  ----------------- LABEL FORM CAISSE  -----------------*/ 
#caisse > div{
    display: flex;
    flex-direction: column;
}

label[for="caisse_number"] {
    font-size: 0;
}
label[for="caisse_number"]:before {
    content: "N° de caisse";
    font-size: 16px;
}

/*  ----------------- LABEL FORM DAYS  -----------------*/ 

#day > div{
    display: flex;
    flex-direction: column;
}

label[for="day_cash_total"] {
    font-size: 0;
}
label[for="day_cash_total"]:before {
    content: "Total en espèce";
    font-size: 16px;
}

label[for="day_card_total"] {
    font-size: 0;
}
label[for="day_card_total"]:before {
    content: "Total par carte";
    font-size: 16px;
}

label[for="day_cheque_total"] {
    font-size: 0;
}
label[for="day_cheque_total"]:before {
    content: "Total par carte";
    font-size: 16px;
}

label[for="day_caisse_id"] {
    font-size: 0;
}
label[for="day_caisse_id"]:before {
    content: "Total par carte";
    font-size: 16px;
}

/*  ----------------- LABEL FORM TRANSACTION ITEM  -----------------*/ 
#transaction_iteme > div{
    display: flex;
    flex-direction: column;
}

label[for="transaction_iteme_quantity"] {
    font-size: 0;
}
label[for="transaction_iteme_quantity"]:before {
    content: "Quantité";
    font-size: 16px;
}

label[for="transaction_iteme_total"] {
    font-size: 0;
}
label[for="transaction_iteme_total"]:before {
    content: "Total";
    font-size: 16px;
}

label[for="transaction_iteme_transactionIteme"] {
    font-size: 0;
}
label[for="transaction_iteme_transactionIteme"]:before {
    content: "Objet de la transaction";
    font-size: 16px;
}

label[for="transaction_iteme_product_id"] {
    font-size: 0;
}
label[for="transaction_iteme_product_id"]:before {
    content: "ID du produit";
    font-size: 16px;
}

/*  ----------------- LABEL FORM TRANSACTION -----------------*/ 
#transactions > div{
    display: flex;
    flex-direction: column;
}

label[for="transactions_transactions_date"] {
    font-size: 0;
}
label[for="transactions_transactions_date"]:before {
    content: "Date de la transaction";
    font-size: 16px;
}

label[for="transactions_total_amount"] {
    font-size: 0;
}
label[for="transactions_total_amount"]:before {
    content: "Montant total";
    font-size: 16px;
}

label[for="transactions_cash_amount"] {
    font-size: 0;
}
label[for="transactions_cash_amount"]:before {
    content: "Montant en espèce";
    font-size: 16px;
}

label[for="transactions_card_amount"] {
    font-size: 0;
}
label[for="transactions_card_amount"]:before {
    content: "Montant par cartes";
    font-size: 16px;
}

label[for="transactions_cheque_amount"] {
    font-size: 0;
}
label[for="transactions_cheque_amount"]:before {
    content: "Montant par chèque";
    font-size: 16px;
}

.navbar-mobile {
    display: flex;
    flex-wrap: wrap;
    position: sticky;
    z-index: 10;
    width: 100vw;
    padding: 0;
    margin: 0;
    top: 0px;
    left: 80vw
}

@media (min-width: 1200px) {
    .navbar-mobile {
        display: none!important;
    }
}

@media (max-width: 1201px) {

    * {
        top: 25px
    }

    .img-products {
        max-height: 2vh;
        max-width: fit-content;
    }
}