{% extends 'base.html.twig' %}

{% block title %}New Caisse{% endblock %}

{% block body %}
    <h1>Create new Caisse</h1>

    {{ include('caisse/_form.html.twig') }}

    <a href="{{ path('app_caisse_index') }}">back to list</a>
{% endblock %}
